.LandingPageContainer {
  width: 100vw;
  height: 100vh;
  background: url("/public/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding-inline: 1.2rem;
  padding-block: 1.6rem;
  align-items: center;
}
.navList {
  display: flex;
  gap: 1.6rem;
  cursor: pointer;
}

.LandingPageContainer navHeader h2 {
  font-size: 1.8rem;
  font-weight: 500;
}

.landingmainContainer {
  display: flex;
  justify-content: space-between;
  padding-inline: 3rem;
  height: 70vh;
  align-items: center;
}

.mainimage {
  height: 70vh;
  width: auto;
}

.maincontent h1 {
  font-size: 2.2rem;
}

.mainbtn {
  background: #d97500;
  width: fit-content;
  padding: 1rem;

  font-size: 1.7rem;
  border-radius: 20px;
  margin-top: 1.9rem;
}
