.meetVideoContainer {
  position: relative;
  height: 100vh;
  background: black;
}

.meetuservideo {
  position: absolute;
  bottom: 10vh;
  height: 20vh;
  width: auto;
  right: 0;
  border-radius: 20px;
}

.buttonContainer {
  position: absolute;
  width: 100vw;
  bottom: 0;
  text-align: center;
}
.buttonContainer svg {
  font-size: 3rem;
}

.conferenceView {
  display: flex;
  padding: 10px;
  gap: 10px;
}
.conferenceView video {
  width: 40vw;
  height: 20vh;
  min-width: 30vw;
  border-radius: 10px;
}
