.landingPageContainer {
  height: 100vh;
  width: 100vw;
  background: url("/public/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.nav {
  padding-inline: 1.2rem;
  padding-block: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav h2 {
  font-size: 1.8rem;
  font-weight: 500;
}

.navList {
  display: flex;
  gap: 1.6rem;
  cursor: pointer;
}

.landingMainContainer {
  display: flex;
  justify-content: space-between;
  padding-inline: 3rem;
  height: 80vh;
  align-items: center;
}
.content {
  font-size: 1.6rem;
}
.startbtn {
  background-color: #d97500;
  width: fit-content;
  padding: 1rem;
  border-radius: 20px;
  margin-top: 1.9rem;
}
.startbtn a {
  text-decoration: none;
  color: white;
  font-size: 1.7rem;
}

.landingMainContainer img {
  height: 70vh;
  width: auto;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20px;
  text-align: center;
}

.meetContainer {
  display: flex;
  padding-inline: 20px;
  height: 80vh;
  gap: 10vw;
  justify-content: center;
}
.leftPanel {
  height: 100%;
  display: flex;
  align-items: center;
}
.rightPanel {
  display: flex;
  align-items: center;
}
.rightPanel > img {
  width: 30vw;
  height: auto;
  border-radius: 20px;
}
